body {
    margin: 0px;
}
div.title {
    color: #FFFFFF;
    font-size: 21;
    background: #000000;
    padding: 13px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
}
div.content {
    margin: 50px 20px;
}
table {
    width: 100%;
    border: 1px solid #000000;
    border-collapse: collapse;
}
table.lines {
    margin: 20px 0px;
}
.lines {
    border: 1px solid #000000;
}
table#data {
    border-collapse: collapse;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
td {
    text-align: center;
    border-top: 1px solid #DBDBDB;
    padding: 5px;
}
td.title {
    font-weight: bold;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 5px;
}
td.metro {
    width: 40px;
}
td.station {
    border-left: 1px solid #000000;
    padding: 10px;
}
td.line {
    width: 3px;
    padding: 0px;
    border: 0px;
}
td.lines {
    font-weight: bold;
}
td.help {
    text-align: left;
}
td.legend {
    border-left: 1px solid #DBDBDB;
}
p {
    margin: 20px;
    font-size: 12px;
}